<h3>Add new customer</h3>
<%= form_with model: @customer do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :email, placeholder: "email" %>
  <%= form.text_field :phone, placeholder: "phone" %>
  <%= form.text_field :address, placeholder: "address" %>
  <%= form.submit %>
<% end %>