<h1> Items </h1>
<table border="1">
  <thead>
    <tr>
        <td><b>Customer</b></td>
        <td><b>Order Date</b></td>
        <td><b>Total</b></td>
        <td><b>Action</b></td>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer.name %></td>
        <td><%= order.order_date %></td>
        <td><%= order.total %></td>
        <td><a href="/orders/<%=order.id%>">Show</a> <a href="/orders/<%=order.id%>/edit">Edit</a> <%= button_to "Delete",order,method: :delete %>
         </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/orders/new">New Item</a>
<a href="/orders/report">Show today's Report</a>