<h3>Create an Item</h3>
<table border="1">
  <thead>
    <tr>
        <td><b>ID</b></td>
        <td><b>Name</b></td>
        <td><b>Phone</b></td>
        <td><b>Address</b></td>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.address %></td>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>
      
<%= form_with model: @order do |form| %>
  <%= form.text_field :customer_id, placeholder: "customer ID" %>
  <%= form.text_field :order_date, placeholder: "date time" %>
  <%= form.text_field :total, placeholder: "total" %>
  <%= form.submit %>
<% end %>