<h1> Items </h1>
<table border="1">
  <thead>
    <tr>
        <td><b>ID</b></td>
        <td><b>Name</b></td>
        <td><b>Price</b></td>
        <td><b>Description</b></td>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.description %></td>
        <td><a href="/items/<%=item.id%>/edit">Edit</a></td>
         </td>
        <td><%= button_to "Delete",item,method: :delete %>
         </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/items/new">New Item</a>